* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vh;
    height: 100vw;
}

.logo {
    font-size: 2.5rem;
    text-decoration: none;
    margin-left: 1rem;
    color: #BC13FE;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 10px 0;
    background: black;

}

.nav-menu {
    display: flex;
    margin-right: 1.5rem;
}

.nav-menu li {
    list-style: none;
    padding: 5px 8px;
    margin: 0 5px;
}

.nav-menu li a{
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
}

.nav-menu li a:hover {
    color: #BC13FE;
    transition: all 0.5s ease-in-out;
}

/* Home styling */
.home-container {
    width: 100vw;
    height: 100vh;
    background: url(images/saturn-bg.jpg)no-repeat center center/cover;
    color: silver;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.home-container p {
    font-size: 1.5rem;
    font-weight: 400;
    width: 75%;
    padding: 75px 0 0 0;
    text-align: center;
}

.home-container h3{
    padding: 7.1rem 0 0 0;
    font-weight: 500;
    animation: transformText 1s 1;
}

@keyframes transformText {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.home-container h3 span {
    color: #BC13FE;
}






/* Celestial */

.celestial-container {
    width: 100vw;
    height: 185vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 75px;
    background-color: black;
}

.celestial-container h1 {
    color: whitesmoke;
    font-weight: 500;
    font-size: 3rem;
}


.container1-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container2-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container3-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.celestial-container img {
    width: 350px;
    height: 350px;
    border-radius: 25px;
}

.des  {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 40%;
}
.container2 img {
    width: 500px;
    height: 350px;

}
.des h4 {
    font-size: 2rem;
    font-weight: 500;
    color: #BC13FE;
}
.des p {
    color: silver;
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
    border: 2px solid silver;
    border-radius: 10px;
}

.container1 p {
    background: linear-gradient(to right, black, #313131);
}
.container2-info p {
    background: linear-gradient(to left, black, #313131);
}
.container3 p {
    background: linear-gradient(to right, black, #313131);
}

.one {
    color: #BC13FE;
}

.footer-container {
    background: black;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
    color: silver;
    padding: 20px 0;
}

.copyr {
    margin-left: 50px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 50px;
}

.socials a {
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0 5px;
}
